@font-face {
  font-family: '.';
  src: url('7da87a7c0db2883ea66a0a5273485087.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '.';
  src: url('019db1a8715bc3533e290234e183cc3e.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
